{% extends "base.html" %}

{% block title %}{{ product.name }} — {{ site_name }}{% endblock %}

{% block content %}

<div class="product-detail">

    <!-- Левая часть: изображение -->
    <div class="product-detail-image">
        {% with image=product.images.first %}
          {% if image %}
            <img src="{{ image.image.url }}">
          {% else %}
            Нет фото
          {% endif %}
        {% endwith %}
    </div>

    <!-- Правая часть: информация -->
    <div class="product-detail-info">
        <h1 class="product-detail-title">{{ product.name }}</h1>

        <div class="product-detail-price">
            {{ product.price }} сом
        </div>

        {% if product.description %}
        <div class="product-detail-description">
            {{ product.description }}
        </div>
        {% endif %}

        <div class="product-detail-actions">
            <button class="btn btn-accent btn-full">
                Добавить в корзину
            </button>
        </div>

    </div>

</div>

{% endblock %}
