{% extends "base.html" %}

{% block title %}{{ category.name }} — {{ site_name }}{% endblock %}

{% block content %}
<h1 class="page-title text-center">{{ category.name }}</h1>

<div class="products-grid">

    {% for product in products %}
    <a href="{{ product.get_absolute_url }}" class="product-card">

        <div class="product-image">
             {% with image=product.images.first %}
              {% if image %}
                <img src="{{ image.image.url }}">
              {% else %}
                Нет фото
              {% endif %}
            {% endwith %}
        </div>

        <div class="product-body">
            <h3 class="product-title">{{ product.name }}</h3>
            <div class="product-price">{{ product.price }} сом</div>
        </div>

    </a>
    {% endfor %}

</div>
{% endblock %}
