{% extends "base.html" %}

{% block title %}{{ category.name }} — {{ site_name }}{% endblock %}

{% block content %}

<h1 class="page-title text-center">{{ category.name }}</h1>

<div class="products-grid">

    {% for product in products %}

    <a href="{{ product.get_absolute_url }}" class="product-card">

        <div class="product-image">

            {% if product.images.all %}
                <img src="{{ product.images.all.0.image.url }}" alt="{{ product.name }}">
            {% else %}
                <div class="product-placeholder">
                    Нет фото
                </div>
            {% endif %}

        </div>

        <div class="product-body">
            <h3 class="product-title">{{ product.name }}</h3>
            <div class="product-price">{{ product.price }} сом</div>
        </div>

    </a>

    {% empty %}
        <div class="orders-empty">
            В этой категории пока нет товаров.
        </div>
    {% endfor %}

</div>

{% if is_paginated %}
<div class="pagination">
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">←</a>
    {% endif %}

    <span>{{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</span>

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">→</a>
    {% endif %}
</div>
{% endif %}

{% endblock %}